# python
__pycache__/
*.pyc

# checkpoints / outputs / logs
output/
logs/
runs/
*.pth
*.pt

# datasets
data/
datasets/
SeathruNeRF_dataset/
undistorted_seathrunerf_dataset/
colmap/
*.npz
*.npy

# editor
.vscode/
.idea/
.ipynb_checkpoints/
